main {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

.meme-image-container {
  position: relative;
}

.wrapper {
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
